params {
    
    manifestdir = null // Manifest dir to look for JSONs for the given sample name
    out_dir = "$manifestdir/results/fastqc"
    out_dir2 = "$manifestdir/results/seqtk"
    out_dir3 = "$manifestdir/results/seqtk/fastqc"
    
    read_pattern = "*{1,2}.fastq.gz" // Default value
    
    reads = "$manifestdir/$read_pattern"
}

process {
    withName:FASTQC {
        cpus = ""
        container = 'staphb/fastqc'
    }
    withName:FASTQC2 {
        cpus = ""
        container = 'staphb/fastqc'
    }
    withName:seqtk {
        cpus = ""
        container = 'nanozoo/seqtk'
    }

}

docker {
    enabled = true
    runOptions = '--pull=always'
}