params {
    
    manifestdir = "s3://prod-data-platform-core-analytics-internal/resilience-data-platform/us-east-1/170999192863/prod/lab-systems/x2/x-nextseq-01/export/231219_VH00400_87_AAC327MHV/Analysis/1/Data/fastq/" // Manifest dir to look for JSONs for the given sample name
    out_dir = "$manifestdir/results/fastqc"
    out_dir2 = "$manifestdir/results/seqtk"
    out_dir3 = "$manifestdir/results/seqtk/fastqc"
    
    read_pattern = "S1*{1,2}.fastq.gz" // Default value
    
    reads = "$manifestdir/$read_pattern"
}
// test
process {
    withName:FASTQC {
        cpus = ""
        container = 'staphb/fastqc'
    }
    withName:FASTQC2 {
        cpus = ""
        container = 'staphb/fastqc'
    }
    withName:seqtk {
        cpus = ""
        container = 'nanozoo/seqtk'
    }

}

docker {
    enabled = true
    runOptions = '--pull=always'
}